* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Smythe", system-ui;
	background-color: #f5f5f5;
}

.container {
	width: 600px;
	margin: 0 auto;
	background-color: #fff;
}

.main-container {
	display: flex;
	flex-direction: column;
	padding: 50px 35px;
	gap: 25px;
}

.main-card {
	display: flex;
	gap: 20px;
}

.card-icon {
	width: 70px;
	height: 89px;
	font-size: 50px;
}

.card-details {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.card-add-btn {
	margin: 0 0 auto auto;
	border: 1px solid #8b8b8b;
	border-radius: 50%;
	color: #3c3c3c;
	background-color: #fff;
	font-size: 32px;
	cursor: pointer;
	width: 50px;
	height: 50px;
}

.card-add-btn:hover,
.card-add-btn:focus {
	background-color: #16db99;
	color: #fff;
	border: none;
}

.details-name {
	font-size: 28px;
	color: #000;
}

.details-ingredients {
	font-size: 16px;
	color: #8b8b8b;
}

.details-price {
	font-size: 20px;
	color: #000;
}

/* Main order */

.main-order {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 0 35px 50px 35px;
}

.order-title {
	font-size: 28px;
	color: #000;
	text-align: center;
}

.order-list {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.order-name,
.total-title {
	font-size: 28px;
	color: #000;
}

.order-btn {
	font-size: 12px;
	color: #bbb;
	border: none;
	background-color: #fff;
	cursor: pointer;
}

.order-price,
.total-price {
	margin: 0 0 auto auto;
	font-size: 20px;
}

.order-divider {
	margin-top: 5px;
	background-color: #393333;
	border: none;
	height: 2px;
}

.order-total {
	display: flex;
	justify-content: space-between;
}

.complete-btn {
	background-color: #16db99;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 15px;
	font-weight: 900;
	margin-top: 30px;
	font-family: "Verdana", sans-serif;
}
